.container {
  min-height: 100vh;
}

.containerContent {
  min-height: 100vh;
  padding: 0 40px;
  max-width: 1532px;
  box-sizing: border-box;
  margin: 0px auto
}

.titleCard {
  margin-bottom: 0;
  font-family: sans-serif, Arial, sans-serif;
  font-size: 20px;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.priceCard {
  margin-bottom: 0;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.deleteCard {
  color: black;
  cursor: pointer;
  font-size: large;
}

.deleteCard:hover {
  color: red;
}

@media only screen and (max-width: 960px) {
  .containerContent {
    min-height: 100vh;
    padding: 0 40px;
  }
}